.weather-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.weather-wind {
    position: relative;
    padding-right: 1.5em;
}
.weather-wind-arrow {
    position: absolute;
    top: 0;
    right: 0.7em;
    font-weight: 700;
}
