.cities {
    margin-top: 1.5em;
}
.city {
    position: relative;
}
.city-name {
    font-size: 1.5em;
}
.weather-temp {
    font-size: 3em;
    font-weight: 700;
    vertical-align: top;
    line-height: 1em;
}
.weather-icon {
    width: 50px;
    height: 50px;
}
.weather-wind {
    position: relative;
    padding-right: 1.7em;
}
.weather-wind-arrow {
    position: absolute;
    top: 0;
    right: 0.6em;
    font-weight: 700;
}
.del-city-btn {
    position: absolute;
    top: 0;
    right: 0;
}
