<h1>Weather App</h1>
<p><i>Fetches when typing stops</i></p>
<input #city (keyup)="search(city.value)"/>
<div *ngIf="weather" class="weather">
    <strong class="city-name">
        {{ weather.name }}, {{ weather.sys.country }}
    </strong>
    <span class="weather-temp"> {{ weather.main.temp | number:'1.0-0' }}&deg;C</span>
    <!--
    <div>wind speed: {{ weather.wind.speed }}</div>
    <div>wind deg: {{ weather.wind.deg }}</div>
    -->
    <span class="weather-description">
        {{ weather.weather[0].description }}
    </span>
    <img class="weather-icon"
         src="http://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png"
         alt="{{ weather.weather[0].description }}" />
</div>
<div *ngIf="errorMessage">Error while retrieving data from server</div>